*{
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}

nav{
    background-color: #FFFFFF;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

#logo{
    padding: 10px 15px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo h1{
    width: 40%;
}

nav input{
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    padding: 10px;
    font-size: 1rem;
    border: transparent;
    background-color: #F6F6F6;
    width: 80%;
}

#buscador{
    margin-left: 15px;
    width: 60%;
}

#searchButton{
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    padding: 10px;
    font-size: 1rem;
    border: transparent;
    background-color: #F6F6F6;
    width: 10%;
}

#nav-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-buttons i{
    margin: 0 10px;
}

#nav-buttons a{
    text-decoration: none;
    color: #B4B4B4;
    height: 80%;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-buttons a:hover{
    background-color: #F3F3F3;
    border-radius: 10px;
}


#logout{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 15px;
    text-align: center;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
}

#logout i{
    color: red;
    margin: 0 15px;
}

main{
    width: 100%;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
}


/*Profile Preview*/
#profilePreview{
    width: 22.5%;
    padding: 1.6%;
    border: rebeccapurple solid 1px;
    position: fixed;
    left: 0;
    top: 10vh;
    height: 90vh;
    display: flex;
    justify-content: center;
}

#profile{
    height: fit-content;
    width: 80%;
    background-color: #FFFFFF;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
}

#profile .banner{
    width: 80%;
    border-radius: 25px;
}

#profile .pic{
    width: 25%;
    border-radius: 50%;
    margin-top: -12.5%;
    border: 5px white solid;
}

#profile h3{
    font-size: 16px;
}

#profile h4{
    font-size: 14px;
    color: rgb(138, 138, 138);
}

#profile .profileStats{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    background-color: bl;
    margin: 25px 0;
    text-align: center;
}

#profile .profileStats p{
    font-size: 12px;
    font-weight: bold;
}

#profile .profileStats > *{
    width: 30%;
}




/*Feed*/
#feed{
    margin-top: 10vh;
    width: 45%;
    padding: 1.6%;
    border: aqua solid 1px;
    display: flex;
    flex-direction: column;
}

#newPost{
    width: 95%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
}

#newPost img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.newPostInputs{
    width: 65%;
}

#tweetPostInput{
    width: 100%;
}

#tweetPostInput input{
    width: 100%;
    border-radius: 50px;
    padding: 5px;
    font-size: 1rem;
    border: transparent;
    background-color: #F6F6F6;
}

#tipoDePost{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tipoDePost select{
    margin-top: 5px;
    width: 80%;
    border: 1px solid black;
    border-radius: 20px;
}

#postingConfig{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

#mierdon{
    width: 80%;
}

#postingConfig label{
    width: 10%;
} 

#postingConfig input{
    width: 70%;
    margin-left: 5px;
    border-radius: 5px;
    padding: 2px 5px;
}

#postingConfig button{
    padding: 7px;
    width: 70px;
    background: #0866FF;
    color: #FFFFFF;
    font-weight: bolder;
    word-spacing: 2px;
    border-radius: 10px;
    border: 0;
}

#postingConfig button:hover{
    background: #0861F2;
    cursor: pointer;
}

.tweet{
    width: 95%;
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    margin-top: 20px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
}

.postHeader{
    display: flex;
    margin: 10px;
    align-items: center;
}

.postHeader i{
    color: #B4B4B4;
    margin: 0 5px;
}

.postHeader h3{
    font-size: 16px;
    margin: 0 5px;
}

.postHeader img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.tweet .tweetContent{
    margin: 10px;
    font-size: 18px;
}

.tweet .imagePost{
    width: 100%;
    border-radius: 25px;
    margin: 10px 0;
}

.tweet .date{
    margin: 10px;
    font-size: 12px;
    color: #B4B4B4;

}


/*Activity*/
#suggested{
    width: 22.5%;
    padding: 1.6%;
    position: fixed;
    top: 10vh;
    height: 85vh;
    border: blue solid 1px;
    right: 0;
}


@media (max-width: 900px) {
    #nav-buttons{
        display: none;
    }
    #logo{
        width: 85%;
    }
    #logo h1{
        font-size: 20px;
        width: 30%;
    }
    #logout{
        width: 15%;
    }
    #logout h3{
        display: none;
    }
    #suggested{
        display: none;
    }
    #profilePreview{
        width: 30%;
    }
    #feed{
        width: 60%;
    }
    main{
        justify-content: flex-end;
    }

}

@media (max-width: 500px) {
    #profilePreview{
        display: none;
    }
    #feed{
        width: 90%;
    }
    main{
        justify-content: center;
    }

}